.f-container {
    display: flex;
    justify-content: space-between;
}

.f-nav {
    display: flex;
    
}

.logo {
    height: 50px;
    width: 50px;
    background-color: rebeccapurple;
    margin-left: 5%;
}

.navbar {
    margin-right: 5%;
}